services:
  server:
    build: .  # Dockerfile location
    container_name: server-container
    command: python -u -m server.server --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/code  # Mount current directory to /code in the image
    ports:
      - "8000:8000"